@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    /* background: linear-gradient(45deg, #8A2BE2, #6A0DAD); */
}

nav{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #cc092f, #9f0c21);
    padding: 10px;
}

.button-nav{
    display: flex;
    height: 40px;
}


.navegation a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    width: 250px;
    font-family: 'Montserrat', Arial, sans-serif;
    text-decoration: none;
}

.navegation a:hover{
    color: #0e9bdd;
    transition: 0.5s;
}

/* .container {
    width: 100%;
    max-width: 480px;
    padding: 20px;
    margin-top: 80px; 
    background-color: #ffffff;
    border-radius: 20px;

    
}

.box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4A90E2;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4A90E2;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #34b40d;
}

#errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #004869, #4A90E2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 999;
}

#loading .loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading h2 {
    font-size: 32px;
    margin: 10px 0;
    font-weight: bold;
    color: #ffffff;
}

#loading h3 {
    font-size: 24px;
    margin: 5px 0;
}

#loading .loader {
    margin-top: 20px;
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.main-content {
    padding: 24px;
    display: none;
}

h1, h2 {
    margin: 0;
    font-weight: bold;
    
}

h2 {
    margin-bottom: 12px;
    font-size: 1.25rem;
}

.digital-btn {
    background-color: #2563eb;
    color: white;
    padding: 12px 24px;
    border-radius: 9999px;
    margin-top: 12px;
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-center h2{
    color: #ffffff;
    font-size: 25px;
}

.card h3 {
    margin-bottom: 4px;
    font-size: 1.125rem;
    font-weight: bold;
}

.card p {
    margin: 4px 0;
    color: #4b5563;
}

.highlight {
    color: #dc2626;
    font-weight: bold;
}

.discount {
    color: #16a34a;
    margin-top: 4px;
}

.payment-btn, .customize-btn {
    background-color: #004869;
    color: white;
    padding: 8px 16px;
    border-radius: 9999px;
    margin-top: 8px;
    cursor: pointer;
}

.payment-btn:hover, .customize-btn:hover {
    background-color: #059669;
}
 */



 
.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}

.banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
    padding: 100px;
    z-index: 1; 
}

.text h1 {
    font-size: 30px; 
}



.bannerr-mobile img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


iframe{
    border: none;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-family: 'Montserrat', Arial, sans-serif;

}
.box {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 2px solid #e0e0e0;
    width: 300px;
    height: 480px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
.box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box-content {
    padding: 20px;
}
.box h3 {
    color: #005fa3;
    margin: 0 0 10px;
    font-size: 1.2em;
    padding: 20px;
}
.box p {
    color: #555;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 20px;

}
.box a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ff7f00;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    width: 200px;
    margin: 20px;

}
.box a:hover {
    background-color: #004869;
    color: white;
    transition: 0.3s;
}




::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}
  
::-webkit-scrollbar-thumb {
    background-color: #cc092f; 
}
  
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #004869;
}
  

footer {
    background: linear-gradient(90deg, #cc092f, #9f0c21);
    color: #fff;
    padding: 40px 20px;
    font-family: 'Montserrat', Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
  }
  
  .footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #f39c12;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 6px 0;
  }
  
  .footer-section ul li a {
    color: #bbb;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #f39c12;
  }
  
  .footer-logos {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
  }
  
  .footer-logos img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-logos img:hover {
    transform: scale(1.1);
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    color: #aaa;
  }
  
  .footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
  }
  
  .footer-bottom a:hover {
    color: #0e9bdd;
  }





@media (min-width:1300px){
   
    .bannerr-img {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width:1299px){
    .bannerr-img {
    display: none;
   }
  
}

@media  (min-width: 769px) and (max-width:1024px){
    .banner-img {
        display: none;
    }

    .navigation{
        display: none;
    }
    
    
}

@media (max-width: 768px) {
    .banner-img {
        display: none;
    }

    .navigation{
        display: none;
    }

}

@media (max-width: 480px) {
   .banner-img {
    display: none;
   }

    .text p{
        padding-left: 50px;
        padding-right: 50px;
    }

    .text h1 {
        padding-left: 50px;
        padding-right: 50px; 

    }

}
